* {
  box-sizing: border-box;
}
body, html{
  padding: 0;
  margin: 0;
}
ol{
  color: crimson;
}
nav{
  background-color: brown;
}
nav ul li{
  text-decoration: none;
}
.li{
  display: flex;
    color: brown;
    text-align: justify;
    justify-content: space-between;
    padding: 10px;
    margin: 50px;
}
a{
  color: white;
  text-decoration: none;
}
