* {
  box-sizing: border-box;
}
body, html{
  padding: 0;
  margin: 0;
}
ol{
  color: crimson;
}
nav{
  background-color: brown;
}
nav ul li{
  text-decoration: none;
}
li{
  display: inline-flex;
  color: darkorange;
}